{% extends 'base.html' %}
{% load tailwind_filters %}
{% block content %}
<div class="w-1/4 ax-w-lg mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
        <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 px-3 py-2 rounded-md mt-5 w-full text-white">
            Update
        </button>
        </div>
        <div class="mt-6">
            <a class="bg-indigo-500 hover:bg-indigo-600 rounded-md mt-5 w-full text-white px-3 py-2" href="{% url 'todo:task-delete' task.pk %}">Delete</a>
        </div>
    </form>
</div>
{% endblock content %}